importlib-metadata==4.13.0 ; python_full_version >= "3.7.2" and python_version < "3.8"
regex==2022.9.13 ; python_full_version >= "3.7.2" and python_full_version < "4.0.0"
typing-extensions==4.4.0 ; python_full_version >= "3.7.2" and python_version < "3.8"
zipp==3.10.0 ; python_full_version >= "3.7.2" and python_version < "3.8"
